/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #6200ea;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header img {
    border-radius: 50%;
    margin-top: 10px;
    width: 150px; /* Specify your actual image width */
    height: 150px; /* Specify your actual image height */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.info-section {
    margin-top: 20px;
    text-align: center;
}

.goals-section {
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    width: 90%;
    margin-top: 20px;
    text-align: center;
}

.goals-section h2 {
    color: #6200ea;
    margin-bottom: 20px;
}

.goals-section ul {
    list-style-type: none;
    padding: 0;
}

.goals-section ul li {
    background: #e0e0e0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
}

footer {
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: #6200ea;
    margin: 0 10px;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .goals-section {
        padding: 10px;
    }

    header img {
        border-radius: 50%;
        margin-top: 10px;
        width: 150px; /* Adjust based on actual image size */
        height: 150px; /* Adjust based on actual image size */
    }
    
}
